@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --clr: #161718;
}

body {
  /* background-image: url(); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed; */
  background: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#home_title {
  text-align: center;
  margin-top: -20%;
  padding-bottom: 10%;
  width: 300px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  animation-name: main_title;
  animation-duration: 3s;
}
@keyframes main_title {
  0% {
    color: white;
    background-color: #161718;
    left: 0px;
    margin-top: 50%;
  }
  75% {
    color: white;
    background-color: #161718;
    left: 0px;
    margin-top: 50%;
  }
  100% {
    color: black;
    background-color: white;
    left: 0px;
    top: 0px;
  }
}
#home_description {
  text-align: center;
  margin: 0;
  padding-top: 0;
  font-size: 70%;
  animation-name: main_description;
  /* animation-delay: 0s; */
  animation-duration: 3.2s;
  color: white;
}
@keyframes main_description {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  90% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

#myBtn {
  width: 100px;
  height: 100px;
  object-fit: none;
  object-position: 0 300px;
  /* padding: 15px 25px; */
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px rgb(100, 100, 100);
  margin-bottom: 0px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);
  animation-name: login_button;
  animation-duration: 4.5s;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
@keyframes login_button {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#myBtn:hover {
  background-color: #3e8e41;
}
#myBtn:active {
  background-color: #3e8e41;
}

/*For button clicking effect*/
/* #myBtn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}
#myBtn:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
} */
/* onqonvqnv*/
